.resume {
  height: 100%;
  width: 100%;
  overflow: hidden; // 🚫 block iframe scrollbars

  iframe {
    width: 100%;
    height: 100%;
    border: none;
    pointer-events: auto;
    overflow: hidden;
    transform: scale(1);
  }
}

@media (max-width: 768px) {
  .resume iframe {
    min-height: 100%;
  }
}
